.addbox{
    background-color: #dedad1d0;
    box-shadow: rgba(79, 132, 146, 0.402) 0px 10px 20px, rgba(35, 84, 97, 0.329) 0px 6px 6px;
border-radius: 25px;

}
.ad1{
    background-image: url('https://cdn.w600.comps.canstockphoto.com/poster-design-for-sale-event-in-simple-illustration_csp52613321.jpg');
}
.ad2{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSA-qfBD3nnyj7d9P3C0Tej1hnCPXytKTl-wl9c3_WFxvnOQVjvA3ugzbKH4-6WDJbUMg&usqp=CAU');
}
.ad3{
    background-image: url('https://pub-static.fotor.com/assets/projects/pages/96acc39b4ac2450ca59e7487372e3cb7/600w/red-and-blue-headphone-sales-facebook-app-ad-3166c7d7c1b64ad7aa6f65606e05f234.jpg');
}
.quickSale{
    animation: loginbtn 1s cubic-bezier(0.11, 0, 0.5, 0) 0s infinite normal forwards;
}
@keyframes loginbtn {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}