.container{background-color: rgba(123, 126, 129, 0.454);}

.act {
    font-size: large;
    background-color: rgba(241, 241, 235, 0.801);
    border-bottom: 3px solid rgba(61, 125, 69, 0.699);
    color: rgb(0, 0, 0);
  }
  