<div class="main-container">
  <div class="container mx-auto mt-14">
    <div
      class="firstInner bg-firstInner bg-no-repeat bg-cover h-[50em] rounded-[50px]"
    >
      <h1 class="text-[277px] pl-[80px] text-yellow-200 font-serif">WELCOME</h1>
      <button
        routerLink="/login"
        type="button"
        class="login py-3 w-[30em] px-4 mx-[35%] inline-flex justify-center items-center hover:bg-transparent gap-2 rounded-md border font-semibold text-white bg-blue-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
      >
        Login
      </button>
    </div>
    <div
      class="secondInner bg-secondInner h-[50em] mt-[-243px] bg-no-repeat bg-cover"
    >
      <h1
        class="pt-[331px] text-[100px] font-extrabold font-serif text-neutral-200"
      >
        STAY ORGANIZED , <br />
        SAVE TIME - WITH <br />
        OUR INVENTORY APP
      </h1>
    </div>
  </div>
  <div class="thirdInner w-[100%] bg-emerald-50 relative h-[50em]">
    <div class="third1">
      <h1
        class="pt-[178px] pl-[50px] font-serif text-slate-500 font-bold text-[64px]"
      >
        Inventory management software designed for Indian businesses
      </h1>
    </div>
    <div
      class="third2 bg-third2 w-[auto] h-[100%] bg-no-repeat bg-cover mt-4 ml-[5%] mr-[5%] mb-[auto]"
    ></div>
    <div
      class="third3 bg-third3 w-[auto] h-[100%] bg-no-repeat bg-cover mt-4 ml-[5%] mr-[5%] mb-[auto]"
    ></div>
  </div>
  <div class="fourthInner w-[100%] h-[65em] bg-violet-900">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <div class="formboxMain mt-[23%] rounded-md">
    <h2 class="text-emerald-400 text-[64px] text-center font-bold font-sans">
      If You Are New Here Register To Sign In
    </h2>
    <form [formGroup]="registerForm" (ngSubmit)="signUp()">
      <div class="formbox mx-auto mt-14 p-8 max-w-[35%]">
        <div class="my-6">
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2"
            >First Name</label
          >
          <input
            formControlName="firstName"
            type="text"
            id="input-label-with-helper-text"
            class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-700 dark:text-gray-400"
            placeholder="enter your first name"
            aria-describedby="hs-input-helper-text"
          />
          <p
            *ngIf="controls.firstName.errors?.['required'] && controls.firstName.touched"
            class="text-sm text-red-600 mt-2"
            id="hs-input-helper-text"
          >
            Enter First Name
          </p>
        </div>
        <div>
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2"
            >Last Name</label
          >
          <input
            formControlName="lastName"
            type="text"
            id="input-label-with-helper-text"
            class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-700 dark:text-gray-400"
            placeholder="enter your last name"
            aria-describedby="hs-input-helper-text"
          />
          <p
            *ngIf="controls.lastName.errors?.['required'] && controls.lastName.touched"
            class="text-sm text-red-600 mt-2"
            id="hs-input-helper-text"
          >
            Enter Last Name
          </p>
        </div>
        <div class="my-6">
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2"
            >Email</label
          >
          <input
            formControlName="email"
            type="email"
            id="input-label-with-helper-text"
            class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-700 dark:text-gray-400"
            placeholder="you@site.com"
            aria-describedby="hs-input-helper-text"
          />
          <p
            *ngIf="controls.email.errors?.['required']&&controls.email.touched"
            class="text-sm text-red-600 mt-2"
            id="hs-input-helper-text"
          >
            Enter Email
          </p>
        </div>
        <div>
          <label
            for="input-label-with-helper-text"
            class="block text-sm font-medium mb-2"
            >Password</label
          >
          <input
            formControlName="password"
            type="password"
            id="input-label-with-helper-text"
            class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-700 dark:text-gray-400"
            placeholder="******"
            aria-describedby="hs-input-helper-text"
          />
          <p
            *ngIf="controls.password.errors?.['required']&&controls.password.touched"
            class="text-sm text-red-600 mt-2"
            id="hs-input-helper-text"
          >
            Enter Password
          </p>
        </div>
        <button
          type="submit"
          class="mt-5 py-3 px-4 inline-flex gap-2 rounded-md border border-transparent font-semibold bg-gray-800 text-white hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-offset-2 text-sm dark:focus:ring-gray-900 dark:focus:ring-offset-gray-800"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>

  <div></div>
</div>

<footer class="w-[100%] h-[40%] mt-[150px] bottom-0 bg-slate-900">
  <div class="ml-20">
    <div>
      <h1
        class="mainTitle flex-non font-semibold dark:text-white text-white ml-10"
      >
        INVENTORY
      </h1>
      <p class="flex-non dark:text-white text-white ml-10">lets be organized</p>
      <div class="inside flex">
        <div class="ml-28 flex flex-col">
          <a
            href=""
            class="text-3xs dark:text-slate-400 text-slate-400 ml-28 mt-6"
            >Contact
          </a>
          <a href="" class="text-3xs dark:text-slate-400 text-slate-400 ml-28"
            >About</a
          >
          <a href="" class="text-3xs dark:text-slate-400 text-slate-400 ml-28"
            >Direction</a
          >
          <a href="" class="text-3xs dark:text-slate-400 text-slate-400 ml-28"
            >Blog</a
          >
        </div>

        <div class="ml-28 flex flex-col">
          <a
            href=""
            class="text-3xs dark:text-slate-400 text-slate-400 ml-8 mt-6"
            >Promotion</a
          >
          <a href="" class="text-3xs dark:text-slate-400 text-slate-400 ml-8"
            >Partners</a
          >
          <a href="" class="text-3xs dark:text-slate-400 text-slate-400 ml-8"
            >Careers</a
          >
          <a href="" class="text-3xs dark:text-slate-400 text-slate-400 ml-8"
            >FAQs</a
          >
        </div>
        <div class="ml-28 flex flex-col">
          <a
            href=""
            class="text-3xs dark:text-slate-400 text-slate-400 ml-8 mt-6"
            >Privacy</a
          >
          <a href="" class="text-3xs dark:text-slate-400 text-slate-400 ml-8"
            >Policies</a
          >
          <a href="" class="text-3xs dark:text-slate-400 text-slate-400 ml-8"
            >Library</a
          >
        </div>

        <div class="ml-28 flex mt-8">
          <a href="https://www.instagram.com/accounts/login/">
            <img
              src="https://cdn-icons-png.flaticon.com/512/174/174855.png"
              alt="instagram icon"
              class="mr-5 max-w[100%] h-[20%]"
            />
          </a>
          <a href="https://www.facebook.com/login/">
            <img
              src="https://cdn-icons-png.flaticon.com/512/4494/4494475.png"
              alt="Facebook icon"
              class="mr-5 max-w[100%] h-[20%]"
            />
          </a>
          <a
            href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/4494/4494477.png"
              alt="twitter icon"
              class="mr-5 max-w[100%] h-[20%]"
            />
          </a>
          <a
            href="https://accounts.google.com/v3/signin/identifier?dsh=S637735976%3A1679549081785580&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&ifkv=AWnogHeesF-iM8Gnh5-Syvjo6NIJqXHxCSrK-nV7sXBpPnKcO3pODLY_aI8P-kfkrXwJkDlYQCBUag&osid=1&passive=1209600&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
            ><img
              src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
              alt="mail icon"
              class="mr-5 max-w[100%] h-[20%]"
          /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
