<header
  class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full text-sm py-4 dark:bg-teal-800 bg-teal-80 h-28"
>
  <button (click)="toggleMenu()">
    <div class="">
      <svg
        class="w-5 h-5"
        width="30"
        height="30"
        fill="currentColor"
        viewBox="0 0 16 16"
        class="mr-10"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </div>
  </button>
  <nav
    class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
    aria-label="Global"
  >
    <div class="flex items-center justify-between">
      <img src="" alt="" />
      <a
        class="mainTitle flex font-semibold dark:text-white text-white"
        href="#"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentcolor"
          viewBox="0 0 24 24"
          class="mr-2 logo"
        >
          <path
            d="M10.605 0h-10.605v10.609l13.391 13.391 10.609-10.604-13.395-13.396zm-7.02 6.415c-.781-.783-.781-2.048 0-2.829.782-.782 2.048-.781 2.829-.001.782.783.781 2.047 0 2.829-.781.781-2.046.781-2.829.001zm3.101 4.514l4.243-4.243.707.707-4.243 4.243-.707-.707zm1.414 1.414l4.243-4.243.354.354-4.243 4.243-.354-.354zm1.061 1.061l4.243-4.243 1.061 1.061-4.243 4.243-1.061-1.061zm1.768 1.768l4.243-4.243.354.354-4.243 4.243-.354-.354zm1.767 1.767l-.707-.707 4.243-4.243.707.707-4.243 4.243zm.708.707l4.242-4.242.354.354-4.242 4.242-.354-.354z"
          />
        </svg>
        <p class="">INVENTORY</p>
      </a>
      <div class="sm:hidden">
        <button
          type="button"
          class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 border-gray-700 dark:text-gray-400 dark:hover:text-white hover:text-white dark:focus:ring-offset-gray-800"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <svg
            class="hs-collapse-open:hidden w-4 h-4"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
          <svg
            class="hs-collapse-open:block hidden w-4 h-4"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div
      id="navbar-collapse-with-animation"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block"
    >
      <div
        class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:pl-5"
      >
        <!-- <a
          routerLinkActive="active"
          routerLink="home"
          class="font-medium dark:text-gray-400 text-gray-400 dark:hover:text-gray-500 hover:text-gray-500"
          aria-current="page"
          >Home</a
        >
        <a
          *ngIf="true"
          routerLinkActive="active"
          routerLink="login"
          class="font-medium dark:text-gray-400 text-gray-400 dark:hover:text-gray-500 hover:text-gray-500"
          >Login</a
        > -->

        <!-- <button
          routerLinkActive="active"
          routerLink="dashboard"
          class="font-medium dark:text-gray-400 text-gray-400 dark:hover:text-gray-500 hover:text-gray-500"
        >
          Dashboard
        </button> -->
      </div>
    </div>
  </nav>

  <div
    class="off-canvas formbox fixed top-0 right-[-500px] w-[400px] h-[100%] mt-[5.3%] z-[99]"
    [ngClass]="{ open: menuOpen }"
  ></div>
  <div
    class="overlay fixed top-0 right-[400px] w-[100%] h-[100%] z-[100]"
    *ngIf="menuOpen"
    (click)="toggleMenu()"
  >
    <div class="w-5">
      <h1 class="text-7xl text-slate-50">Account</h1>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
<!-- <app-login></app-login> -->
