<nav
  class="flex items-center space-x-2 border-2 border-green-50 mt-5 rounded-xl"
>
  <button
    class="text-slate-50 hover:text-blue-600 p-3 inline-flex items-center gap-2 rounded-md disabled:cursor-not-allowed"
    value="Previous"
    (click)="onPagination($event)"
    [disabled]="currentPage == 1"
  >
    Previous
  </button>
  <button
    *ngIf="!(currentPage == 1)"
    class="text-slate-50 hover:text-blue-600 p-3 inline-flex items-center text-sm font-medium rounded-full"
    [value]="currentPage - 1"
    (click)="onPagination($event)"
    aria-current="page"
  >
    {{ currentPage - 1 }}
  </button>
  <button
    class="text-teal-300 hover:text-blue-600 p-3 inline-flex items-center text-xl font-medium rounded-full"
    (click)="onPagination($event)"
    value="{{ currentPage }}"
  >
    {{ currentPage }}
  </button>
  <button
    class="text-slate-50 hover:text-blue-600 p-3 inline-flex items-center text-sm font-medium rounded-full"
    (click)="onPagination($event)"
    value="{{ currentPage + 1 }}"
    [disabled]="currentPage + 1 > totalPage"
  >
    {{ currentPage + 1 }}
  </button>
  <button
    class="text-slate-50 hover:text-blue-600 p-3 inline-flex items-center gap-2 rounded-md disabled:cursor-not-allowed"
    value="Next"
    (click)="onPagination($event)"
    [disabled]="currentPage >= totalPage"
  >
    Next
  </button>
</nav>
