<div class="flex">
  <div class="flex formbox items-center flex-col h-screen w-[18rem]">
    <nav class="w-full">
      <p class="px-6 mb-3 font-medium text-3xl">Menu</p>
      <ul class="font-medium">
        <li class="mb-4">
          <a
            routerLink="overView"
            routerLinkActive="bg-slate-700 text-slate-50"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center pl-8 h-10 border-l-4 border-r-0 border-y-0 border-transparent hover:border-white hover:text-gray-50 w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6 mr-4"
            >
              <path
                d="M11.644 1.59a.75.75 0 01.712 0l9.75 5.25a.75.75 0 010 1.32l-9.75 5.25a.75.75 0 01-.712 0l-9.75-5.25a.75.75 0 010-1.32l9.75-5.25z"
              />
              <path
                d="M3.265 10.602l7.668 4.129a2.25 2.25 0 002.134 0l7.668-4.13 1.37.739a.75.75 0 010 1.32l-9.75 5.25a.75.75 0 01-.71 0l-9.75-5.25a.75.75 0 010-1.32l1.37-.738z"
              />
              <path
                d="M10.933 19.231l-7.668-4.13-1.37.739a.75.75 0 000 1.32l9.75 5.25c.221.12.489.12.71 0l9.75-5.25a.75.75 0 000-1.32l-1.37-.738-7.668 4.13a2.25 2.25 0 01-2.134-.001z"
              />
            </svg>

            Overview</a
          >
        </li>
        <li class="mb-4">
          <a
            routerLink="product"
            routerLinkActive="bg-slate-700 text-slate-50"
            class="flex items-center pl-8 h-10 border-l-4 border-r-0 border-y-0 border-transparent hover:border-white hover:text-slate-50 w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6 mr-4"
            >
              <path
                d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z"
              />
            </svg>

            Products</a
          >
        </li>
        <li class="mb-4">
          <a
            routerLink="client"
            routerLinkActive="bg-slate-700 text-slate-50"
            class="flex items-center pl-8 h-10 border-l-4 border-r-0 border-y-0 border-transparent hover:border-white hover:text-gray-50 w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6 mr-4"
            >
              <path
                fill-rule="evenodd"
                d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                clip-rule="evenodd"
              />
            </svg>

            Clients</a
          >
        </li>
        <li class="mb-4">
          <a
            routerLink="sales"
            routerLinkActive="bg-slate-700 text-slate-50"
            class="flex items-center pl-8 h-10 border-l-4 border-r-0 border-y-0 border-transparent hover:border-white hover:text-gray-50 w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 mr-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
              />
            </svg>

            Sales</a
          >
        </li>
        <li class="mb-4">
          <button
            (click)="logout()"
            class="dark:text-red-400 text-red-400 flex items-center pl-8 h-10 border-l-4 border-r-0 border-y-0 border-transparent hover:border-white w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M16 9v-4l8 7-8 7v-4h-8v-6h8zm-16-7v20h14v-2h-12v-16h12v-2h-14z"
              />
            </svg>
            Logout
          </button>
        </li>
      </ul>
    </nav>
  </div>

  <main class="px-10 py-6 w-full h-screen overflow-y-hidden">
    <router-outlet></router-outlet>
  </main>
</div>
