@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';@import 'tailwindcss/components';@import 'tailwindcss/utilities';

@layer components {
    .btn-blue {
      @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
    }
  }

body{

  overflow-x: hidden;
    background-color: #000000;
    // background-color: #ffaaaa70;
  
background-repeat: no-repeat;
background-size: cover;
}
.formbox{
    background-color: #fffaf036;
    box-shadow: rgba(19, 59, 69, 0.402) 0px 10px 20px, rgba(35, 84, 97, 0.329) 0px 6px 6px;
border-radius: 5px;

}

.active{
 font-size: large;
 
 border-bottom: 2px solid rgb(222, 210, 210);
}
.mainTitle{
  font-size: xx-large;
  font-weight: 700;
}
.act {
  font-size: large;
  background-color: rgba(241, 241, 235, 0.801);
  border-bottom: 3px solid rgba(61, 125, 69, 0.699);
  color: rgb(0, 0, 0);
}

.boxSadow{
  background-color: rgba(250, 252, 254, 0.685);
  box-shadow: rgba(19, 59, 69, 0.402) 0px 10px 20px, rgba(35, 84, 97, 0.329) 0px 6px 6px;
}
